*.pyc
*~
local_settings.py
.DS_Store

# ignore buildout's workspace stuff:
.installed.cfg
bin/
develop-eggs/
eggs/
parts/

# ignore static files (for now):
ts/static/

# ignore the migration app
ts/apps/migration/

# ignore sql data dump:
sample_data.json