*.pyc
*~
.DS_Store

# ignore buildout's workspace stuff:
.installed.cfg
bin/
develop-eggs/
eggs/
parts/

# ignore settings files:
ts/settings/*.py
!ts/settings/__init__.py

# ignore static files (for now):
ts/static/

# ignore the migration app
ts/apps/migration/

# ignore uploaded files
ts/media/uploads

# ignore cache files
ts/tmp/
ts/settings/tmp/

# ignore sql data dump:
sample_data.json

# ignore branch template files (for now)
ts/apps/tradeschool/templates/branches/