*.pyc
*~
.DS_Store
.*.swp

# ignore buildout's workspace stuff:
.installed.cfg
bin/
develop-eggs/
eggs/
parts/
sql/
build/
dist/

# ignore settings files:
ts/settings/*.py
!ts/settings/__init__.py
fab_config.py
apache.conf

# ignore static files (for now):
ts/static/

# ignore uploaded files
ts/media/uploads

# ignore cache files
tmp
ts/tmp/
ts/settings/tmp/

# ignore sql data dump:
ts/apps/tradeschool/fixtures/migration.json

# ignore branch template files (for now)
ts/apps/branches/

# ignore dev database
dev-database.sqlite3
