# Trade School Everywhere
# And Egg is a Python Package

[buildout]
eggs = 
	MySQL-python
    south
    simplejson
    PIL
    django-tinymce
    django-flatpages-tinymce
	pytz
	django-countries
	django-grappelli
	feedparser
    django-dajaxice
    python-memcached
    six
    selenium
parts =
	django
	django-mailer	
	django-rosetta
	django-rosetta-grappelli
    django-admin-enhancer	
    django-guardian
    johnny-cache
versions = versions

[versions]
django = 1.5.1
django-mptt=0.5.1
gettext=0.18.2

[django]
recipe = djangorecipe
eggs = ${buildout:eggs}
settings = 
extra-paths = 
    ts/apps
    parts/django-mailer
    parts/django-chunks
    parts/django-rosetta
    parts/django-rosetta-grappelli
    parts/django-admin-enhancer
    parts/django-admin-enhancer/admin_enhancer
    parts/django-guardian
    parts/johnny-cache
project = ts

[django-mailer]
recipe = zerokspot.recipe.git
repository = git://github.com/PSyton/django-mailer-2.git
branch = datetime
as_egg = True

[django-rosetta]
recipe = zerokspot.recipe.git
repository = git://github.com/mbi/django-rosetta.git
branch = develop
as_egg = True

[django-rosetta-grappelli]
recipe = zerokspot.recipe.git
repository = git://github.com/platypus-creation/django-rosetta-grappelli.git
branch = master
as_egg = True

[django-admin-enhancer]
recipe = zerokspot.recipe.git
repository = git://github.com/charettes/django-admin-enhancer.git
branch = master
as_egg = False

[django-guardian]
recipe = zerokspot.recipe.git
repository = git://github.com/lukaszb/django-guardian.git
branch = master
as_egg = True

[johnny-cache]
recipe = zerokspot.recipe.git
repository = git://github.com/jmoiron/johnny-cache.git
branch = master
as_egg = True