class Config(object):
    hosts = ['0.0.0.0', ]
    apache_conf_file = ''

    local_project_dir = '/path/to/tradeschool'
    local_username = ''
    local_password = ''
    local_settings_file = 'ts/settings/development.py'

    testing_domain = '1.1.1.1'
    testing_project_dir = '/opt/projects/tse/'
    testing_username = 'system_user'
    testing_password = 'system_user_password'
    testing_settings_file = 'ts/settings/testing.py'

    production_domain = '2.2.2.2'
    production_project_dir = '/opt/projects/tse/'
    production_username = 'system_user'
    production_password = 'system_user_password'
    production_settings_file = 'ts/settings/server.py'
