class Config(object):
    hosts = [ '0.0.0.0', ]
    fab_username = ''
    fab_password = ''
    server_settings_file = '/path/to/settings/file.py'
    apache_conf_file = '/path/to/apache/file.conf'    