{% extends 'branches_base/course_register.html' %}

{% load humanize smartdate i18n l10n %}

{# 
    This template is used to render the popup with the scheduled clas information
    
    It extends a parent template that's located in-
      https://github.com/orzubalsky/tradeschool/blob/master/ts/apps/tradeschool/templates/branches_base/course_register.html
    
    In order to make edits to the html of this file, 
        1.  Look at the code of the parent template (URL above).
            The HTML inside of the various 'block' elements is filled in the 'block' elements
            that have the same name in this file.
        2.  Copy the content that's in the block element you wish to change from the parent template.
        3.  In the code below, paste it inside the block that has the same name,
            instead of {{ block.super }} 
        4.  Make any edits you wish! 
    
    *** Keep in mind that the template has django-specific template tags.
    They affect the way if functions, so be careful with those.
    It's probably best to just change / add to the html itself.
#}

{% block popup_content %}

<div class="type{{ course.category }} ">
    <div id="classPopup" style="background-color:{{ course.color }};">

        {% block registration_header %}
        {{ block.super }}
        {% endblock registration_header %}

        {% block registration_body %}
        <div id="popupBody">
            {% block registration_body_seats %}
            {{ block.super }}
            {% endblock registration_body_seats %}

            {% block registration_body_form %}
            {{ block.super }}
            {% endblock registration_body_form %}
        </div>
        {% endblock registration_body %}
    </div>
</div>

{% endblock popup_content %}