{% extends 'branches_base/course_item.html' %}

{% load humanize smartdate i18n l10n %}

{# 
    This template is used to render a single scheduled class.
    
    It extends a parent template that's from the branches_base directory, 
    the parent template is located here:
        https://github.com/orzubalsky/tradeschool/blob/master/ts/apps/tradeschool/templates/branches_base/course_item.html
    
    In order to make edits to the html of your TS branch file, 
        1.  Look at the code of the parent template (URL above).
            The HTML inside of the various 'block' elements is filled in the 'block' elements
            that have the same name in this file.
        2.  Copy the content that's in the block element you wish to change from the parent template.
        3.  In the code below, paste it inside the block that has the same name,
            instead of {{ block.super }} 
        4.  Make any edits you wish! 

    *** Keep in mind that the template has django-specific template tags.
    They affect the way it functions, so be careful with those.
    It's probably best to just change / add to the html itself.
#}

{% block course_item %}
<div id="{{ course.slug }}" class="aClass venue{{ course.venue.title }}">
    
{% if course.registered_students >= course.max_students %}
    {% block course_tag %}
    {{ block.super }}
    {% endblock course_tag %}
{% endif %}

    <div class="classInfo" style="background-color:{{ course.color }}">
        {% block course_header %}
        {{ block.super }}
        {% endblock course_header %}
        
        {% block course_body %}
        <div class="classBody">
            
            {% block course_venue %}
            {{ block.super }}
            {% endblock course_venue %}            
            
            {% block course_description %}
            {{ block.super }}
            {% endblock course_description %}            
            
            {% block course_items %}
            {{ block.super }}
            {% endblock course_items %}            
            
            {% block course_teacher %}
            {{ block.super }}
            {% endblock course_teacher %}            
            
            {% block course_join_button %}
            {{ block.super }}
            {% endblock course_join_button %}            
            
        </div>
        {% endblock course_body %}
    </div>
</div>
{% endblock course_item %}