{% extends 'branches_base/course_unregister.html' %}

{% load humanize smartdate i18n l10n %}

{# 
    This template is used to render the page with the registration cancelling form for a student.
    
    It extends a parent template that's located in-
      https://github.com/orzubalsky/tradeschool/blob/master/ts/apps/tradeschool/templates/branches_base/course_unregister.html
    
    In order to make edits to the html of this file, 
        1.  Look at the code of the parent template (URL above).
            The HTML inside of the various 'block' elements is filled in the 'block' elements
            that have the same name in this file.
        2.  Copy the content that's in the block element you wish to change from the parent template.
        3.  In the code below, paste it inside the block that has the same name,
            instead of {{ block.super }} 
        4.  Make any edits you wish! 
    
    *** Keep in mind that the template has django-specific template tags.
    They affect the way if functions, so be careful with those.
    It's probably best to just change / add to the html itself.
#}


{% block main_content %}
<div id="unregister">
    
    {% block page_title %}
    {{ block.super }}
    {% endblock page_title %}    
    
    <div class="subMain">
        
        {% if registration.registration_status == 'unregistered' %}
        {% block already_unregistered %}        
        {{ block.super }}
        {% endblock already_unregistered %}
        
        {% else %}
       
        {% block registration_data %}
        {{ block.super }}
        {% endblock registration_data %}        
    </div>

    {% block sidebar %}
    {{ block.super }}
    {% endblock sidebar %}    
    
    {% block unregister_submit %}
    {{ block.super }}
    {% endblock unregister_submit %}    
    
    {% endif %}    
</div>
{% endblock main_content %}