{% extends 'branches_base/schedule_feedback.html' %}

{# 
    This template displays the form for a student/teacher leaving
    feedback after a trade school class has taken place.
    
    It extends a parent template that's from the branches_base directory located here:
        tradeschool/templates/branches_base/schedule_feedback.html
    
    In order to make edits to the html of your TS branch file, 
        1.  Copy the content that's in the 'main_content' 
            block inside of the parent template.
        2.  In the code below, paste it inside the 'main_content' block instead
            of {{ block.super }} 
        3.  Make any edits you wish! 

    *** Keep in mind that the template has django-specific template tags.
    They affect the way it functions, so be careful with those.
    It's probably best to just change / add to the html itself.
#}

{% load humanize i18n l10n %}

{% block main_content %}
{{ block.super }}
{% endblock main_content %}