{% extends templates.prefix|add:'base.html' %}

{# 
    This template is used for the layout of all secondary pages (such as dynamic Pages, class submission form, etc)
    
    It extends a parent template that's defined for this branch:
      /public_html/base.html
    
    In order to make edits to the html of this file, 
        1.  Look at the code of the parent template (URL above).
            The HTML inside of the various 'block' elements is filled in the 'block' elements
            that have the same name in this file.
        2.  Copy the content that's in the block element you wish to change from the parent template.
        3.  In the code below, paste it inside the block that has the same name,
            instead of {{ block.super }} 
        4.  Make any edits you wish! 
    
    *** Keep in mind that the template has django-specific template tags.
    They affect the way if functions, so be careful with those.
    It's probably best to just change / add to the html itself.
#}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/subpage.css" />
{% endblock %}

{% block content %}
<div id="innerHeader">
	{% block logo %}{{ block.super }}{% endblock %}	
	{% block navigation %}{{ block.super }}{% endblock %}	
</div>

{% block main_content %}
{% endblock main_content %}

{% endblock %}

{% block lightbox %}
{% endblock %}