/*------ GENERAL ----------*/
a {
    color: black;
}
a:hover {
    color: red;
}
/*------END GENERAL ----------*/






/*------ LOGIN ----------*/
body.grp-login .grp-module-login {
    margin: 0;
}
body.grp-login .grp-module-login h1 {
    padding: 0;
    border: none;    
}
body.grp-login .grp-module-login h1 span {
    color: white;
    background-color: red;
}
body.grp-login .grp-module-login h1 span.grp-current-page {
    border: none;
    margin: 0;
    background-image: none;
    background-color: red;
    display: none;
}
body.grp-login .grp-module-login .grp-module {
    border: none;
}
.grp-login .grp-module .grp-row,
body.grp-login .grp-module-login .grp-module .grp-row.grp-connected  {
    background-color: yellow;
    border: none;
}
.grp-login .grp-submit-row > ul > li .grp-button {
    background-color: black;
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    border-radius: 0;
}
.grp-login .grp-submit-row > ul > li .grp-button:hover {
    background-color: red;
}
.grp-login .grp-submit-row > ul > li,
.grp-login .grp-button,
.grp-login input[type="submit"] {
    border-radius: 0;
}
/*------END LOGIN ----------*/






/*------ HEADER ----------*/
header#grp-header #grp-navigation {
    background-color: red;
    background-image: none;
}
header#grp-header #grp-navigation ul#grp-user-tools {
    border-color: red;
}
header#grp-header #grp-navigation ul#grp-user-tools > li {
    border-color: red;
}
header#grp-header #grp-navigation ul#grp-user-tools > li a {
    color: white;
}
header#grp-header #grp-navigation ul#grp-user-tools > li a:hover {
    color: yellow;
}
header#grp-header #grp-context-navigation {
    background-color: white;
    background-image: none;
    border: none;
    color: black;
    padding-bottom: 6px;
}
#grp-breadcrumbs > ul a {
    color: black;
}
#grp-breadcrumbs > ul a:hover {
    color: red;
}

/*------ HEADER END ----------*/





/*------ MESSAGES --------------*/
.grp-messagelist li {
    background-color: transparent;
    border-color: transparent;
}
/*------ MESSAGES END ----------*/





/*--------- GROUP ----------*/
.grp-group {
    border: none;
}
.grp-group > h2, 
.grp-collapse h2.grp-collapse-handle,
.grp-collapse.grp-open > h2.grp-collapse-handler,
.grp-collapse.grp-open > h2.grp-collapse-handle {
    background-color: white;
    background-image: none;
    text-shadow: none;
    border-radius: 0px;
    border: none;
    margin: 0;
}
/*--------- GROUP END ----------*/




/*--------- MODULE ----------*/
.grp-module {
    border: none;
    margin: none;
}
.grp-group:not(.grp-tabular) .grp-module {
    margin-bottom: 20px;
}
.grp-module h3,
.grp-collapse.grp-open > h3.grp-collapse-handler,
.grp-collapse h3.grp-collapse-handler,
.grp-group .grp-module > h3 {
    background-image: none;
    background-color: white;
    color: red;
    border: none;
    border-bottom: 1px solid #eee;    
    margin: none;
    border-radius: 0px;
    font-weight: bold;
}
.grp-module .grp-row:not(tr) {
    background-image: none;
    background-color: white;
    border: none;
    border-bottom: 1px solid #eee;
    margin: none;
    border-radius: 0px;
}
a.grp-link-external {
    color: black;
}
a.grp-link-external:hover {
    color: black;
}



/*--------- TABLE ----------*/
#grp-changelist .grp-changelist-results  {
    background-color: white;
    background-image: none;
}
body.grp-change-list table {
    width: 100%;
}
table thead th:first-of-type {
    width: 20px;
}
table thead th,
table.grp-sortable thead th.sortable:hover,
table.grp-sortable thead th.sortable.sorted.ascending,
table.grp-sortable thead th.sortable.sorted.descending,
table.grp-sortable thead th.sortable.sorted.ascending:hover,
table.grp-sortable thead th.sortable.sorted.descending:hover {
    background-color: white;
    background-image: none;   
}
table tbody tr.grp-selected,
body.grp-change-list table tr.grp-selected th, 
body.grp-change-list table tr.grp-selected td {
    background-color: yellow;
}
table.grp-sortable thead th.sortable a {
    color: black;
    font-weight: bold;
}
table.grp-sortable thead th.sortable:hover a {
    color: red;
}
/*--------- TABLE END ----------*/





/*--------- CHANGE LIST ----------*/
#grp-content {
    top: 110px;
}
.grp-object-tools {
    
}
.grp-object-tools li a,
.grp-object-tools li a:hover {
    border-radius: 0px;
}
.grp-object-tools li a.grp-add-link {
    background-color: black;
    background-image: none;
    padding-left: 20px;
}
.grp-object-tools li a.grp-add-link:hover {
    background-image: none;   
    background-color: red;
    color: white;
}
.grp-pagination ul li span {
    background-image: none;
    background-color: #f4f4f4;
}
form#grp-changelist-search {
    border-radius: 0px;
}
input[type="text"].grp-search-field  {
    border-radius: 0px;
}
.grp-pulldown-container {
    border-radius: 0px;
}
.grp-pulldown-container .grp-pulldown-handler {
    background-color: white;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
.grp-pulldown-container .grp-pulldown-handler:hover {
    background-color: white;
}
.grp-fixed-footer {
    padding: 5px 10px 0px;
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="reset"],
textarea,
select {
    border-radius: 0px;
}
.grp-changelist-results table .vTextField, 
.grp-changelist-results table .vURLField, 
.grp-changelist-results table .vFileBrowseField, 
.grp-changelist-results table textarea, 
.grp-changelist-results table .vLargeTextField, 
.grp-changelist-results table .vXMLLargeTextField, 
.grp-changelist-results table select {
    width: 120px;
}
.grp-submit-row.grp-fixed-footer > ul > li {
    padding: 0;
    background-color: transparent;
}
input[type="submit"],
.grp-fixed-footer input[type="submit"],
.grp-fixed-footer input[type="submit"] {
    border-radius: 0px;
    background-color: white;
    color: black;
    background-image: none;
    border: none;
}
input[type="submit"]:focus,
input[type="submit"]:hover,
.grp-fixed-footer input[type="submit"]:hover,
.grp-fixed-footer input[type="submit"]:focus {
    border: none;
    background-image: none;    
    background-color: yellow;
}
#grp-changelist-form .grp-module .grp-row:not(tr) {
    background-color: white;
}
a.related-widget-wrapper-link {
    margin: 0 3px;
}
.grp-row select {
    margin-right: 2px;
}
img.branch_image {
    height: 100px;
}
/*--------- CHANGE LIST END ----------*/





/*--------- ADD FORM --------------*/
form .grp-module .grp-row:not(tr) {
    background-color: yellow;
}
.grp-module h2 {
    background-color: white;
    background-image: none;
    border: none;
}
fieldset.grp-module {
    margin-bottom:20px;
}
.grp-change-form .grp-module:not(.grp-submit-row) {
    min-width: 920px;
    width: 920px;
}
.grp-row .vTextField,
.grp-row .vURLField,
.grp-row .vFileBrowseField,
.grp-row textarea, 
.grp-row .vLargeTextField,
.grp-row .vXMLLargeTextField,
.grp-autocomplete-wrapper-m2m,
select {
    width: 680px;
}
form .grp-module.grp-transparent.grp-dynamic-form .grp-row:not(tr) {
    background-color: white;
}
/*--------- ADD FORM END ----------*/





/*--------- INLINE FORM --------------*/
.grp-tabular .grp-table .grp-th, 
.grp-tabular .grp-table .grp-td {
    border: none;
}
.grp-tabular .grp-table .grp-tbody .grp-th, 
.grp-tabular .grp-table .grp-tbody .grp-td,
.grp-tabular .grp-table .grp-tbody .grp-th:last-of-type, 
.grp-tabular .grp-table .grp-tbody .grp-td:last-of-type,
.grp-tabular .grp-table .grp-tbody .grp-th:first-of-type, 
.grp-tabular .grp-table .grp-tbody .grp-td:first-of-type {
    background-color: yellow;
    border: none;
}
.grp-tools li a.grp-add-handler {
    display: none;
}
#emails-group .grp-collapse.grp-closed * {
    display: inline-block;
}
#emails-group .grp-collapse.grp-closed h3 {
    display: none;
}
#emails-group .grp-group:not(.grp-tabular) h2 {
    display: none;
}
/*--------- INLINE FORM END ----------*/
