{% extends "subpage.html" %}

{% load humanize smartdate i18n l10n %}

{% block tradeschool_content %}
<div id="subPage">

<h2 class="subTitle">Past classes</h2>

<div class="classes" id="past">
{% for schedule in schedules %}
	<div id="class_{{ schedule.course.slug }}" class="aClass type{{ schedule.course.category }} venue{{ schedule.course.venue.title }}">
        <div class="classInfo">
            <div class="classHeader">
                <h3><a class="toggle" href="{% url 'schedule-view' branch_slug=branch.slug schedule_slug=schedule.slug %}">{{ schedule.course.title }}</a></h3>
                <em>{{ schedule.start_time|smartdate:"g:ia"|localize }} to {{ schedule.end_time|smartdate:"g:ia"|localize }}</em>
            </div>

            <div class="classBody">
                <div class="classSite">
                    <strong>{{ schedule.course.venue.title }}</strong><br />
                    {{ schedule.course.venue.address_1 }}<br />
                    {{ schedule.course.venue.city }}
                </div>
                <p class="description">{{ schedule.course.description }}</p>
                <p class="description">
                    {% blocktrans %}The following items were exchanged{% endblocktrans %}:<br />
                {% for item in schedule.barteritem_set.all %}
                    {{ item.title }}<br />
                {% endfor %}
                </p>
                <h4 class="teacher">
                    {% blocktrans %}About the teacher{% endblocktrans %}, <a href="{{ schedule.course.teacher.website }}" target="_blank">{{ schedule.course.teacher.fullname }}</a>
                </h4>
                <p class="description">{{ schedule.course.teacher.bio }}</p>
            </div>
        </div>
    </div>
{% endfor %}    
</div>
</div>
{% endblock tradeschool_content %}