{% extends extend_template %}

{% load humanize i18n l10n %}

{% block main_content %}
<div id="teacherForm" style="background-color:transparent;">
    <form id="feedbackForm" method="post" action="{{ request.path }}">{% csrf_token %}
    {% if form.errors %}
        <div class="formQ">
            <div class="formField">
                <ul class="errors">                    
                {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.errors|striptags }}</li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

        <div class="formQ">
            <div class="formField">
                {{ form.content.label }}<br />
                {{ form.content }}
            </div>
            <div class="formNote">
                {{ form.content.help_text }}
            </div>
        </div>    

        <input type="submit" value="Submit" class="submit" />
    </form>	
</div>
{%endblock main_content %}