{% load i18n dajaxice_templatetags tz %}

{% block page %}
<!DOCTYPE html>
<html>

{% block head %}
<head>
	{% block title %}
	<title>{% blocktrans context "Main header on the website" %}Trade School{% endblocktrans %}</title>
	{% endblock title %}
	
	{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{% blocktrans context 'Page Meta Description' %}Take a class with a range of specialized teachers in exchange for basic items and services. Secure a spot in a TradeSchool class by meeting one of the teachers barter needs.{% endblocktrans %}" />
	<meta name="keywords" content="{% blocktrans context 'Page Meta Keywords' %}tradeschool, trade, school, ourgoods, barter, trade, exchange, community{% endblocktrans %}" />
    {% endblock meta %}
    
    {% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{{ branch.slug }}/branch.css" />	
    {% endblock css %}	
    
	{% block extra_css %}{% endblock %}
</head>

{% block js_vars %}
<script type="text/javascript">
	var branchUrl = '{{ branch.slug }}';
</script>
{% endblock js_vars %}

{% endblock head %}

{% block body %}
<body>


{% block container %}
<div id="container">
    {% block content %}

    {% block header %}
    <div id="header">    
        {% block logo %}	
        <a href="{% url 'schedule-list' branch_slug=branch.slug %}">
            <div id="headerLogo">
                <h1>
                    {% blocktrans context "Main header on the website" %}Trade School{% endblocktrans %}<br />
                    {{ branch.title }}
                </h1>
            </div>
        </a>
        {% endblock logo %}	

        {% block navigation %}
        <div id="headerNav">
            <ul>
            {% for page in branch_pages %}
                <li><a href="/{{ branch.slug }}/page{{ page.url }}">{{ page.title|title }}</a></li>
            {% endfor %}
                <li><a href="{% url 'schedule-list-past' branch_slug=branch.slug %}">{% blocktrans context "Past Classes" %}Past{% endblocktrans %}</a></li>               
                <li class="tshq"><a href="/">{% blocktrans context "Text for the Tradeschool.coop link" %}TS HQ{% endblocktrans %}</a></li>
            </ul>
            
        </div>
        {% endblock navigation %}		

        {% block gallery %}
        <div id="headerPhotoContainer" class="gallery">
            <div id="headerPhoto">
            {% for photo in branch.photo_set.all %}		
                <img src="{{ photo.filename.url }}" />
            {% endfor %}
            </div>
        </div>
        {% endblock gallery %}	

        {% block intro %}    
        <div id="headerIntro">
            <h2>
            {% if branch.header_copy %}
                {{ branch.header_copy|safe }}
            {% else %}
                {% blocktrans context "header on front page" %}Barter for knowledge{% endblocktrans %}
            {% endif %}                    
            </h2>
            <p>
            {% if branch.intro_copy %}
                {{ branch.intro_copy|safe }}
            {% else %}
                {% blocktrans context "intro on front page" %}{% endblocktrans %}
            {% endif %}
            </p>
        </div>
        {% endblock intro %}

        {% block mailiing_list %}
        <div id="headerEmail">
            <p>{% trans "Join our list" %}:</p>				
            <form id="mailinglist" action="http://carolinewoolard.createsend.com/t/r/s/qukiuh/" method="post" id="subForm">
                <input type="text" name="cm-qukiuh-qukiuh" id="qukiuh-qukiuh" value="your email address" class="emailField">
                <input type="submit" value="{% blocktrans context 'mailing list join button text' %}GO{% endblocktrans %}" class="emailButton">
            </form>
        </div>        
        {% endblock mailiing_list %}
    </div>
    {% endblock header %}

    <div id="main">
    {% block main_content %}
    {% endblock %}		
    </div>

    <div class="clear"></div>
    {% endblock content %}
</div>
{% endblock container %}

{% block lightbox %}	
<div id="previewContainer" class="{% block popup_container_class %}{% endblock popup_container_class %}">
    <img id="loader" src="{{ STATIC_URL }}/images/ajax-loader.gif" style="display:none;" />
    <div id="preview">
    {% block popup_content %}
    {% endblock popup_content %}    
    </div>
</div>
<div id="matte">&nbsp;</div>
{% endblock %}	

{% block js %}
{% dajaxice_js_import %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.js"></script>	
<script type="text/javascript" src="{{ STATIC_URL }}js/site.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}{{ branch.slug }}/branch.js"></script>
{% endblock js %}

{% block extra_js %}{% endblock %}


</body>
{% endblock body %}

</html>
{% endblock page %}