{% extends templates.extend_template %}

{% load humanize i18n l10n %}

{% block main_content %}
<div id="teacherForm" style="background-color:transparent;">
    
    {% block form %}
    <form id="feedbackForm" method="post" action="{{ request.path }}">{% csrf_token %}
    
        {% if form.errors %}
        {% block form_errors %}
        <div class="formQ">
            <div class="formField">
                <ul class="errors">                    
                {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.errors|striptags }}</li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endblock form_errors %}        
        {% endif %}

        {% block form_fields %}
        <div class="formQ">
            <div class="formField">
                {{ form.content.label }}<br />
                {{ form.content }}
            </div>
            <div class="formNote">
                {{ form.content.help_text }}
            </div>
        </div>
        
        <input type="submit" value="Submit" class="submit" />
        {% endblock form_fields %}        
    </form>	
    {% endblock form %}    
</div>
{%endblock main_content %}