{% extends templates.extend_template %}

{% load humanize smartdate i18n l10n %}

{% block popup_container_class %}{{ popup_container_class }}{% endblock popup_container_class %}

{% block popup_content %}
<div class="type{{ course.category }} ">
    <div id="classPopup" style="background-color:{{ course.color }};">

        {% block registration_header %}
        <div id="popupHeader">
            {% blocktrans %}I would like to join{% endblocktrans %}<br />
            <h3>{{ course.title }}</h3>
            {{ course.start_time|date:"g:ia"|localize }} to {{ course.end_time|date:"g:ia"|localize }}<br />
            at <strong>{{ course.venue.address_1 }}, {{ course.venue.city }}</strong><br />
        </div>
        {% endblock registration_header %}

        {% block registration_body %}
        <div id="popupBody">
            
            {% block registration_body_seats %}
            <div class="seatsLeft">
                <img src="{{ STATIC_URL }}/images/icons/chair.png" /> 
                <div id="seatMarker">
                    <div id="seatFill" style="width:{{ open_seat_percentage }}%;"></div>
                </div>
                <em>{{ seats_left }} seats left</em>
            </div>
            {% endblock registration_body_seats %}

            {% block registration_body_form %}
            <form id="registerToClass" class="{{ course.slug }}" method="post" action="{% url 'course-register' branch_slug=branch.slug course_slug=course.slug %}">{% csrf_token %}
                {% if student_form.errors or registration_form.errors %}
                <ul class="errors">                    
                {% for field in student_form %}
                	{% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
                {% for field in registration_form %}
                    {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
                </ul>
                {% endif %}
                
                I can <strong>bring the following</strong>:<br />
                <div class="barterItems">
                    {{ registration_form.items }}
                </div>
                {{ student_form.fullname.label }}<br />
                {{ student_form.fullname }}<br />
                
                {{ student_form.email.label }}<br />
                {{ student_form.email }}<br />
                
                {{ student_form.phone.label }}<br />
                {{ student_form.phone }}<br />
                
                {% if course.registered_students < course.max_students %}                
                <input type="submit" class="join" value="Join" />
                {% endif %}
            </form>
            {% endblock registration_body_form %}

        </div>
        {% endblock registration_body %}
    </div>
</div>

{% endblock popup_content %}