{% extends "subpage.html" %}

{% load i18n %}

{% block title %}{% blocktrans context "page title" %}Submit a Class{% endblocktrans %}{% endblock %}

{% block tradeschool_content %}
<div id="teacherForm">
	<form id="addClass" method="post" action="{% url add-class %}">{% csrf_token %}

		{% if course_form.errors or teacher_form.errors or time_form.errors or barter_item_formset.non_form_errors or barter_item_formset.errors %}
		<div class="formQ">
			<div class="formField">
			    <ul class="errors">                    
                {% for field in course_form %}
                    {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
            	{% endfor %}
                {% for field in teacher_form %}
                    {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
            	{% endfor %}
                {% for field in time_form %}
                    {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
            	{% endfor %}
                {% for item_form in barter_item_formset %}
                    {% for field in item_form %}
                        {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
            	{% endfor %}            	
            	{% if barter_item_formset.non_form_errors %}<li>{{ barter_item_formset.non_form_errors|striptags }}</li>{% endif %}
                </ul>
			</div>
		</div>
		{% endif %}
		
		<div class="formQ">
			<div class="formField">
				{{ teacher_form.fullname.label }}<br />
				{{ teacher_form.fullname }}
			</div>
			<div class="formNote">
				{{ teacher_form.fullname.help_text }}
			</div>
		</div>
		
		<div class="formQ">
			<div class="formField">
				{{ course_form.title.label }}<br />
				{{ course_form.title }}
			</div>
		</div>

		<div class="formQ">
			<div class="formField">
				{{ course_form.description.label }}<br />
				{{ course_form.description }}
			</div>
		</div>

		<div class="formQ">
			<div class="formField">
				<div class="items">
					<label>{% blocktrans context "Contextual help for barter items in class submission form" %}At least 5 items you want in exchange for teaching- and the quantity of each{% endblocktrans %}</label>
					{{ barter_item_formset.management_form }} 
					{% for barter_item_form in barter_item_formset %}
					{{ barter_item_form.title }}
					{{ barter_item_form.requested }}
				    {% endfor %}
				</div>
				<a id="addItem" href="">{% blocktrans context "Add another barter item in class submission form" %}Add another item{% endblocktrans %}</a>
			</div>
			<div class="formNote">
				{% blocktrans context "Examples for barter items" %}Past examples{% endblocktrans %}:<br />
				<strong><ul>
					<li>{% blocktrans context "barter item example" %}Drawing paper{% endblocktrans %}</li>
					<li>{% blocktrans context "barter item example" %}Tea leaves{% endblocktrans %}</li>
					<li>{% blocktrans context "barter item example" %}Bike parts{% endblocktrans %}</li>
					<li>{% blocktrans context "barter item example" %}Design help{% endblocktrans %}</li>
					<li>{% blocktrans context "barter item example" %}Organic produce{% endblocktrans %}</li>
					<li>{% blocktrans context "barter item example" %}Job-search help{% endblocktrans %}</li>
					<li>{% blocktrans context "barter item example" %}A surprise{% endblocktrans %}</li>
					<li>{% blocktrans context "barter item example" %}Furniture{% endblocktrans %}</li>
				</ul></strong>
			</div>
		</div>

		<div class="formQ calBox">
			<div class="formField">
				<label for="">{% blocktrans %}When you'd like to teach{% endblocktrans %}:</label>
				{{ time_form.time }}				
				<div id="calendar"></div>
			</div>
			<div class="formNote">
                {% blocktrans context "class submission form calendar contextual help" %}Click on a time slot to choose it for your class - if you need more time select two consecutive slots.<br /><br /> If there are multiple venues, the color of each time slot will correspond to a venue in the list below.{% endblocktrans %}
			</div>
		</div>

		<div class="formQ">
			<div class="formField">
				{{ course_form.max_students.label }}<br />
				{{ course_form.max_students }}				
			</div>
			<div class="formNote">
			</div>
		</div>

		<div class="formQ">
			<div class="formField">
				{{ teacher_form.bio.label }}<br />
				{{ teacher_form.bio }}
			</div>
			<div class="formNote">
				{{ teacher_form.bio.help_text }}
			</div>
		</div>

		<div class="formQ">
			<div class="formField">
				{{ teacher_form.website.label }}<br />
				{{ teacher_form.website }}
			</div>
			<div class="formNote">
				{{ teacher_form.website.help_text }}
			</div>
		</div>

		<div class="formQ">
			<div class="formField">
				{{ teacher_form.email.label }}<br />
				{{ teacher_form.email }}
			</div>
			<div class="formNote">
				{{ teacher_form.email.help_text }}
			</div>
		</div>

		<div class="formQ">
			<div class="formField">
				{{ teacher_form.phone.label }}<br />
				{{ teacher_form.phone }}
			</div>
			<div class="formNote">
				{{ teacher_form.phone.help_text }}
			</div>
		</div>

		<div class="formQ">
			<div class="formDisclaimer">
			<h5><strong>{% blocktrans %}We trust you, so please trust us. Trade School is a litigation free zone.{% endblocktrans %}</strong></h5>
			</div>
		</div>
		<div class="classSubmit">
		<input type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" class="submit" />
		</div>
	</form>
</div>
{% endblock tradeschool_content %}