{% extends "hub_base.html" %}

{% load humanize i18n l10n chunks  %}

{% block content %}

<div id="headerBoard">Barter for knowledge</div>

<div id="intro">
    <h2><strong>Trade School</strong> celebrates practical wisdom, mutual respect, and the social nature of exchange. <a href="">Read More.</a></h2>

    <div id="headerEmail">
        <p>Join our mailing list:</p>		
        <form id="mailinglist" action="http://carolinewoolard.createsend.com/t/r/s/qukiuh/" method="post" id="subForm">
            <input type="text" name="cm-qukiuh-qukiuh" id="qukiuh-qukiuh" class="emailField">
            <input type="submit" value="GO" class="emailButton">
        </form>
    </div>
</div>

<div id="branches">
    <h2>Trade School Locations</h2>
    {% for branch in branches %}
    <div class="aBranch">
        <div class="branchInfo">
            <div class="branchHeader">
                <h3>
                    <a href="{{ branch.site.domain }}">{{ branch.title|title }}</a>
                </h3>
            </div>
        </div>
    </div>        
    {% endfor %}
</div>

<div id="start">
    <p>Want to <a href="">start a Trade School in your city?</a></p>
</div>

<div id="classes">
    <h3>Classes Happening Around the World</h3>	

    <div class="classes" id="upcomingClasses">
    {% for schedule in schedules %}
    {% ifchanged schedule.course.site.branch %}
        <div class="branchDivider">
		    <h4 class="branchTitle">{{ schedule.course.site.branch.title|title }}</h4>
        </div>    
        {% endifchanged %}

        <div id="{{ schedule.course.slug }}" class="aClass type{{ schedule.course.category }} venue{{ schedule.course.venue.title }}">
            <div class="classInfo">
                <div class="classHeader">
                    <h3><a class="toggle" href="{% url 'schedule-view' schedule_slug=schedule.slug %}">{{ schedule.course.title }}</a></h3>
                    <em>{{ schedule.start_time|date:"g:ia"|localize }} to {{ schedule.end_time|date:"g:ia"|localize }}</em>
                </div>

                <div class="classBody">
                    <div class="classSite">
                        <strong>{{ schedule.course.venue.title }}</strong><br />
                        {{ schedule.course.venue.address_1 }}<br />
                        {{ schedule.course.venue.city }}
                    </div>
                    <p class="description">
                        {{ schedule.course.description }}
                    </p>
                    <p class="description">
                        {% blocktrans %}Bring one of the following{% endblocktrans %}:<br />
                    {% for item in schedule.barteritem_set.all %}
                        {{ item.title }}<br />
                    {% endfor %}
                    </p>          
                    <h4 class="teacher">
                        {% blocktrans %}About the teacher{% endblocktrans %}, <a href="{{ schedule.course.teacher.website }}" target="_blank">{{ schedule.course.teacher.fullname }}</a>
                    </h4>
                    <p class="description">
                        {{ schedule.course.teacher.bio }}
                    </p>
                    <a class="join" id="{{ schedule.slug }}" href="{% url 'schedule-view' schedule_slug=schedule.slug %}" title="view {{ schedule.course.title }}">{% blocktrans context "Go to class button" %}GO TO CLASS{% endblocktrans %}</a>                    
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}