{% load i18n flatpages %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html>
<head>
	<title>Trade School</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{% blocktrans context 'Page Meta Description' %}Take a class with a range of specialized teachers in exchange for basic items and services. Secure a spot in a TradeSchool class by meeting one of the teachers barter needs.{% endblocktrans %}" />
	<meta name="keywords" content="{% blocktrans context 'Page Meta Keywords' %}tradeschool, trade, school, grand, opening, grandopening, ourgoods, art, artist, barter, trade, exchange, community, pop-up, storefront, new york city, lower east side {% endblocktrans %}" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/hub.css" />
	{% block extra_css %}{% endblock %}
</head>
<body class="global">
    <div id="globalContainer">
        <div id="header">
            <a href="{% url 'branch-list' %}"><div id="headerLogo"><h1>Trade School</h1></div></a>
            <div id="navigation">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">Donate</a></li>
                    <li><strong><a href="">Start a Trade School</a></strong></li>
                </ul>
            </div>
        </div>
        <div id="main">
        {% block content %}
        {% endblock %}
        </div>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/site.js"></script>
	{% block extra_js %}{% endblock %}	
</body>
</html>