{% extends "base.html" %}

{% load humanize smartdate i18n l10n %}

{% block tradeschool_content %}

<div class="type{{ schedule.course.category }} ">
	<div id="classPopup" style="background-color:#567567;">
		<div id="popupHeader">
			{% blocktrans %}I would like to join{% endblocktrans %}<br />
			<h3>{{ schedule.course.title }}</h3>
			{{ schedule.start_time|smartdate:"g:ia"|localize }} to {{ schedule.end_time|smartdate:"g:ia"|localize }}<br />
			at <strong>{{ schedule.course.venue.address_1 }}, {{ schedule.course.venue.city }}</strong><br />
		</div>
		<div id="popupBody">
			<div class="seatsLeft">
				<img src="{{ STATIC_URL }}/images/icons/chair.png" /> 
				<div id="seatMarker">
					<div id="seatFill" style="width:{{ open_seat_percentage }}%;"></div>
				</div>
				<em>{{ seats_left }} seats left</em>
			</div>
			
			<form id="registerToClass" method="post" action="{% url class-register course_slug=schedule.course.slug %}">{% csrf_token %}
        		{% if student_form.errors or registration_form.errors %}
			    <ul class="errors">                    
				{% for field in student_form %}
					{% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
           		{% endfor %}
                {% for field in registration_form %}
                    {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
            	{% endfor %}
            	
                </ul>
				{% endif %}

				I can <strong>bring the following</strong>:<br />
				<div class="barterItems">
				    {{ registration_form.items }}
				</div>
				{{ student_form.fullname.label }}<br />
				{{ student_form.fullname }}<br />

				{{ student_form.email.label }}<br />
				{{ student_form.email }}<br />
				
				{{ student_form.phone.label }}<br />
				{{ student_form.phone }}<br />
				
				<div class="legal"><p><strong>We trust you, so please trust us. Trade School is a litigation free zone.</strong></p></div>
				<input type="submit" class="join" value="Join" />
			</form>
		</div>
	</div>
</div>

{% endblock %}