{% extends "subpage.html" %}

{% load humanize smartdate i18n l10n chunks %}

{% block tradeschool_content %}
<div id="unregister">
    <h2 class="subTitle">Unregister for class</h2>
    <div class="subMain">
        <h3>I can't come to class!</h3>
        <p>
            We have you down as <br />
            <strong>
            {{ registration.student.fullname }}<br />
            {{ registration.student.email }}
            </strong>
        </p>
        <p>
            You are signed up for<br />
            <strong>
            {{ registration.schedule.course.title }}<br />
            {{ schedule.start_time|date:"M j, Y g:ia"|localize }}<br />
            {{ schedule.venue.address_1}}<br />
            {{ schedule.venue.city }}
            </strong>
        </p>
        <p>
            You were bringing<br />
            <strong>
            {% for item in registration.items.all %}
                {{ item.title }}
            {% endfor %}
            </strong>
        </p>
    </div>

    <div class="subSide">
        <h3>Cancelling</h3>
        {% if registration.schedule.is_within_a_day %}
        <p>
            The class you registered to is in less than 24 hours.<br />
            Please <strong><a style="color:white;" href="mailto:{{ registration.schedule.course.teacher.email }}">contact your teacher, {{ registration.schedule.course.teacher.fullname }}</a></strong>, and arrange to bring them the items you signed up for.
        </p>
        {% else %}
        <p>
            We're sorry you can't make it, hope to see you at another class!
        </p>
        {% endif %}
    </div>
    <div class="subButtonBox">
        <form class="unregister" method="post" action="{{ request.path }}">{% csrf_token %}
            <input type="submit" name="submit" class="submit" value="Remove Me" />
        </form>
    </div>
</div>
{% endblock %}