{% extends "change_form.html" %}

<!-- LOADING -->
{% load url from future %}
{% load admin_static i18n admin_modify grp_tags %}

<!-- CONTENT -->
{% block content %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %} 
        <div>
            <!-- Popup Hidden Field -->
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
            
            <!-- No Submit-Row on Top -->

            <!-- Errors -->
            {% if errors %}
                <p class="errornote">{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
                <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            
            <!-- Fieldsets -->
            <div class="grp-module">     
            {% for field in batch_time_form %}
                <div class="grp-row grp-cells- grp-cells">            
                    <div class="grp-cell l-2c-fluid l-d-4 {{ field.name }}{% if field.errors %} grp-errors{% endif %}">
                        {% if field.is_checkbox %}
                            <div class="c-1">&nbsp;</div>
                            <div class="c-2">
                                {{ field.field }}{{ field.label_tag|prettylabel }}
                        {% else %}
                            <div class="c-1">{{ field.label_tag|prettylabel }}</div>
                            <div class="c-2">
                                {% if field.is_readonly %}
                                    <p class="grp-readonly">{{ field.contents }}</p>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                        {% endif %}
                            {% if not field.is_readonly %}{{ field.field.errors }}{% endif %}
                            {% if field.help_text %}
                                <p class="grp-help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            
            <!-- Submit-Row -->
            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
            
            {% if adminform and add %}
                {% block extrahead %}
                    {{ block.super }}
                    <script type="text/javascript">
                        (function($){
                            $(function(){
                                try {
                                    // focus on first form-field
                                    $("#{{ adminform.first_field.auto_id }}, #{{ adminform.first_field.auto_id }}_0")
                                    .eq(0).focus();
                                } catch(e) {}
                            });
                        }(grp.jQuery));
                    </script>
                {% endblock %}
            {% endif %}
            
            <!-- JS for prepopulated fields -->
            {% prepopulated_fields_js %}
            
        </div>
    </form>
{% endblock %}
