{% load i18n grp_tags default_branch_form %}{% load url from future %}

<div id="grp-navigation">
    <h1 id="grp-admin-title">
        {% if grappelli_admin_title %}{{ grappelli_admin_title }}{% else %}{% get_admin_title %}{% endif %}: 
        {% default_branch_form user request.get_full_path %}
    </h1>
    {% if user.is_authenticated and user.is_staff %}
        <ul id="grp-user-tools">
            <!-- Username -->
            <li class="grp-user-options-container grp-collapse grp-closed">
                <a href="javascript://" class="user-options-handler grp-collapse-handler">{% firstof user.first_name user.username %}</a>
                <ul class="grp-user-options">
                    <!-- Change Password -->
                    {% url 'admin:password_change' as password_change_url %}
                    {% if password_change_url %}
                        <li><a href="{{ password_change_url }}">
                    {% else %}
                        <li><a href="{{ root_path }}password_change/">
                    {% endif %}
                    {% trans 'Change password' %}</a></li>
                    <!-- Change Profile -->
                    {% url 'admin:tradeschool_organizer_change' user.pk as profile_change_url %}
                        <li><a href="{{ profile_change_url }}">{% trans 'Edit Profile' %}</a></li>                    
                    <!-- Logout -->
                    {% url 'admin:logout' as logout_url %}
                    {% if logout_url %}
                        <li><a href="{{ logout_url }}">
                    {% else %}
                        <li><a href="{{ root_path }}logout/">
                    {% endif %}
                    {% trans 'Log out' %}</a></li>
                </ul>
            </li>
            <!-- Userlinks -->
            {% block userlinks %}
                <!-- JS tests -->
                {% url 'test-index' as testindexurl %}
                {% if testindexurl %}
                    <li><a href="{{ testindexurl }}">{% trans 'Tests' %}</a></li>
                {% endif %}
                <!-- Documentation -->
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                {% endif %}
            {% endblock %}
        </ul>
    {% endif %}
    {% block nav-global %}
    {% endblock %}
</div>

<script type="text/javascript" charset="utf-8">
    (function($) {
        $(document).ready(function() {
            $("#grp-navigation .grp-collapse").grp_collapsible();

            $('.vTimeField').grp_timepicker({'time_list': [
                    '06:00 AM',
                    '06:30 AM',
                    '07:00 AM',
                    '07:30 AM',
                    '08:00 AM',
                    '08:30 AM',
                    '09:00 AM',
                    '09:30 AM',
                    '10:00 AM',
                    '10:30 AM',
                    '11:00 AM',
                    '11:30 AM',
                    '12:00 PM',
                    '12:30 PM',
                    '01:00 PM',
                    '01:30 PM',
                    '02:00 PM',
                    '02:30 PM',
                    '03:00 PM',
                    '03:30 PM',
                    '04:00 PM',
                    '04:30 PM',
                    '05:00 PM',
                    '05:30 PM',
                    '06:00 PM',
                    '06:30 PM',
                    '07:00 PM',
                    '07:30 PM',
                    '08:00 PM',
                    '08:30 PM',
                    '09:00 PM',
                    '09:30 PM',
                    '10:00 PM',
                    '10:30 PM',
                    '11:00 PM',
                    '11:30 PM',
                    '00:00 AM',
                    '00:30 AM',
                    '01:00 AM',
                    '01:30 AM',
                    '02:00 AM',
                    '02:30 AM',
                    '03:00 AM',
                    '03:30 AM',
                    '04:00 AM',
                    '04:30 AM',
                    '05:00 AM',
                    '05:30 AM',                                        
                ]
            });
        });
    })(grp.jQuery);
</script>

