{% extends "hub/base.html" %}

{% load humanize i18n l10n  %}

{% block content %}

{% block header %}
<div id="headerBoard">
    Barter for knowledge
</div>    
{% endblock header %}

{% block intro %}
<div id="intro">
    <h2><strong>Trade School</strong> celebrates practical wisdom, mutual respect, and the social nature of exchange. <a href="">Read More.</a></h2>

    <div id="headerEmail">
        <p>Join our mailing list:</p>       
        <form id="mailinglist" action="http://carolinewoolard.createsend.com/t/r/s/qukiuh/" method="post" id="subForm">
            <input type="text" name="cm-qukiuh-qukiuh" id="qukiuh-qukiuh" class="emailField">
            <input type="submit" value="GO" class="emailButton">
        </form>
    </div>
</div>    
{% endblock intro %}

{% block branch-list %}
<div id="branches">
    <h2>Trade School Locations</h2>
    {% for branch in branches %}
    <div class="aBranch">
        <div class="branchInfo">
            <div class="branchHeader">
                <h3>
                    {% if branch.branch_status == 'in_session' %}
                    <a href="{% url 'schedule-list' branch_slug=branch.slug %}">{{ branch.title|title }}</a>    
                    {%else %}
                    {{ branch.title|title }}
                    {% endif %}
                    
                </h3>
            </div>
        </div>
    </div>        
    {% endfor %}
</div>
{% endblock branch-list %}

{% block start-a-tradeschool %}
<div id="start">
    <p>Want to <a href="">start a Trade School in your city?</a></p>
</div>    
{% endblock start-a-tradeschool %}

{% block schedule-list %}
<div id="classes">
    <h3>Classes Happening Around the World</h3>	

    <div class="classes" id="upcomingClasses">

    {% for branch in branches %}
    {% if branch.schedule_set.approved.public %}
        <div class="branchDivider">
    	    <h4 class="branchTitle">{{ branch.title|title }}</h4>
        </div>    
    
        {% for schedule in branch.schedule_set.approved.public %}

        <div id="{{ schedule.slug }}" class="aClass venue{{ schedule.venue.title }}">
            <div class="classInfo" style="background-color:{{ schedule.color }}">
                <div class="classHeader">
                    <h3><a class="toggle" href="{% url 'schedule-view' branch_slug=branch.slug schedule_slug=schedule.slug %}">{{ schedule.title }}</a></h3>
                    <em>{{ schedule.start_time|date:"g:ia"|localize }} to {{ schedule.end_time|date:"g:ia"|localize }}</em>
                </div>

                <div class="classBody">
                    <div class="classSite">
                        <strong>{{ schedule.venue.title }}</strong><br />
                        {{ schedule.venue.address_1 }}<br />
                        {{ schedule.venue.city }}
                    </div>
                    <p class="description">
                        {{ schedule.description }}
                    </p>
                    <p class="description">
                        {% blocktrans %}Bring one of the following{% endblocktrans %}:<br />
                    {% for item in schedule.barteritem_set.all %}
                        {{ item.title }}<br />
                    {% endfor %}
                    </p>          
                    <h4 class="teacher">
                        {% blocktrans %}About the teacher{% endblocktrans %}, <a href="{{ schedule.teacher.website }}" target="_blank">{{ schedule.teacher.fullname }}</a>
                    </h4>
                    <p class="description">
                        {{ schedule.teacher.bio }}
                    </p>
                    <a class="join fromHub" id="{{ schedule.slug }}" href="{% url 'schedule-view' branch_slug=branch.slug schedule_slug=schedule.slug %}" title="view {{ schedule.title }}">{% blocktrans context "Go to class button" %}GO TO CLASS{% endblocktrans %}</a>                    
                </div>
            </div>
        </div>
        {% endfor %}   
    {% endif %} 
    {% endfor %}
    </div>
</div>
{% endblock schedule-list %}

{% endblock content %}