{% extends "hub/base.html" %}

{% load flatpage_admin i18n tz %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/subpage.css" />
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
<h1 class="about_title">START A TRADE SCHOOL</h1>
<div id="about">
	<div id="startMain" class="mainWide">
		<h3>How do I start a Trade School?</h3>
		<p>
			<strong>1)</strong>
			You learn about Trade School via our <a href="../../../../about/">website</a> and our <a href="http://tradeschool.coop/public/startaTS.pdf">PDF</a>.
		</p>
		<p>
			<strong>2)</strong> 
			You make sure you are aligned with our basic principles:</p>
		<div class="indent">
			<p>
				<strong>WHAT?</strong>
			</p>
			<ul>
				<li>1. Trade School is a learning experiment where teachers barter with students.</li>
				<li>2. Trade School is not free-- we believe in the power of non-monetary value.</li>
				<li>3. We place equal value on big ideas, practical skills, and experiential knowledge.</li>
			</ul>
			<p>
				<strong>WHY?</strong>
			</p>
			<ul>
				<li>1. Everyone has something to offer.</li>
				<li>2. We are actively working to create safe spaces for people and ideas.</li>
				<li>3. We want more spaces made by and for the people who use them.</li>
			</ul>
			<p>
				<strong>HOW?</strong>
			</p>
			<ul>
				<li>1. Trade School runs on mutual respect.</li>
				<li>2. We avoid hoarding leadership by sharing responsibilities and information.</li>
				<li>3. We are motivated by integrity, not coercion.</li>
				<li>4. Our organization is always learning and evolving.</li>
			</ul>
		</div>
		<p>
			<strong>3)</strong> 
			You find friends and neighbors who want to help open a local Trade School with you, as these people will add energy and information to your school. Plus, organizing a school alone is tiring, boring, and against the principles of cooperation!
		</p>
		<p>
			<strong>4)</strong> 
			You fill out the form below, telling us where you are located and your reasons for organizing a Trade School in your area.
		</p>
		<p>
			<strong>5)</strong> 
			An organizer contacts you, sharing information and giving you a Trade School website for your area (ex: tradeschool.coop/tokyo) that allows you to schedule classes, coordinate with other organizers, accept and approve class proposals from teachers, make forms for students to sign up for classes and receive emails, and tell the world about what you’re doing. You make your own logo!
		</p>
		<p>
			<strong>6)</strong> 
			You start your own Trade School!			
		</p>
		<p>
			<strong>7)</strong> 
			You keep in touch with Trade School organizers internationally, letting everyone know what did and didn’t work, while helping new Trade Schools open.		
		</p>		
	</div> 

	<div id="branchForm">
	    <form id="addClass" method="post" action="{{ request.path }}">{% csrf_token %}
	        
	        {% block form_errors %}
	        {% if branch_form.errors or organizer_form.errors %}
	        <div class="formQ">
	            <div class="formField">
	                <ul class="errors">                    
	                {% for field in organizer_form %}
	                    {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
	                {% endfor %}
	                {% for field in branch_form %}
	                    {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
	                {% endfor %}	                
	                </ul>
	            </div>
	        </div>
	        {% endif %}
	        {% endblock form_errors %}
	        
	        {% block form_fields %}

			{% for field in organizer_form %}
			<div class="formQ">
			    <div class="formField">
			        {{ field.label }}<br />
			        {{ field }}
			    </div>
			    {% if render_help %}
			    <div class="formNote">
			        {{ field.help_text }}
			    </div>
			    {% endif %}    
			</div>
			{% endfor %}

			{% for field in branch_form %}
			<div class="formQ">
			    <div class="formField">
			        {{ field.label }}<br />
			        {{ field }}
			    </div>
			    {% if render_help %}
			    <div class="formNote">
			        {{ field.help_text }}
			    </div>
			    {% endif %}    
			</div>
			{% endfor %}

	        <div class="classSubmit">
	            <input type="submit" value="{% blocktrans %}Submit{% endblocktrans %}" class="submit" />
	        </div>
	        {% endblock form_fields %}        
		</form>
	</div>

</div>    
{% endblock %}